BLOB_STORAGE_ACCOUNT_NAME="account_name"
BLOB_STORAGE_CONTAINER_NAME="dev"
BLOB_STORAGE_SAS_TOKEN="sp=racwdli&st=2024-10-17T23:32:36Z&se=2024-10-18T07:32:36Z&spr=https&sv=2022-11-02&sr=c&sig=CHANGE_ME"
