MQTT_HOST_NAME="localhost" or "EVENT_GRID_NAMESPACE_NAME.japaneast-1.ts.eventgrid.azure.net"
MQTT_TCP_PORT="8883"
MQTT_USE_TLS="true"
MQTT_CLEAN_SESSION="true"
MQTT_KEEP_ALIVE_IN_SECONDS="30"
MQTT_CLIENT_ID="sample_client"
MQTT_USERNAME="sample_client"
MQTT_PASSWORD=""
MQTT_CA_FILE="chain.pem"
MQTT_CERT_FILE="sample_client.pem"
MQTT_KEY_FILE="sample_client.key"
MQTT_KEY_FILE_PASSWORD=""
